.page-title{
  margin: 10px;
}
.cardlist{
  display: flex;
  justify-content: space-between;
}
.flip-card {
  width: 280px;
  height: 200px;
  perspective: 500px;
}
.card-back {
  transform: rotateY(180deg);
}
.card-front, .card-back {
  position:absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flipping-card {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1s; 
  transform-style: preserve-3d;
}
.flip-card:hover .flipping-card {
  transform: rotateY(180deg);
}
.card{
  margin: 10px;
  padding: 10px;
}
.card-grid{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.friends{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}
.login-box {
  border: 1px solid hsl(204, 86%, 53%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}
.create-columns{
  margin-top: 15px;
  height: 100%;
}
.created-card{
  margin-top: 15px;
  height: 50vh;
  width: 30vw;
  perspective: 1000px;
}
.created-card:hover .flipping-card {
  transform: rotateY(180deg);
}
.btn{
  margin: 5px auto;
  width: 100%;
}
.ulbtn {
  position: absolute;
  z-index: 1;
  margin: 0 150px;
}
.create-option{
  margin: 5px;
  width: 50%;
}
.text-box {
  width: 80%;
  height: 10%;
}

.card-sizing {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.deets{
  width: 60vw;
  height: 60vh;
  border: 5px solid hsl(204, 86%, 53%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  background-color: white;
  
}

.deets:focus .card{
background-color: red;
}