.buttons button {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
}
.cardlist{
  display: flex;
  justify-content: space-between;
}
.card{
  margin: 10px;
  padding: 10px;
}
.card-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
